{% extends 'base.html' %}

{% block head_title %}
: Home
{% endblock head_title %}

{% block content %}
<div class="row text-center">
    <div class="col">
        <h1 class="text-info">Welcome to Tweetme</h1>
    </div>
</div>


<div class='row mb-3 mt-3'>
    <div class='col-md-6 mx-auto col-10  border'>
        <form class='form' id='tweet-create-form' method='POST' action='/create-tweet'>
            {% csrf_token %}
            <div class='d-none alert alert-danger' id='tweet-create-form-error'></div>
            <input type='hidden' value='/' name='next' /> <!-- want it to be redirected to home page-->
            <textarea required="required" class='form-control text' rows='5' name='content' placeholder='Your tweet...'></textarea>
            <button type='submit' class="btn btn-info float-right">Tweet</button>
            <div class="msg text-success bg-light"></div>
        </form>
    </div> 
</div>


<div class="row" id='tweets'>
    Loading...
</div>

<script>
    //const msg = document.querySelector('.msg');

    function handleTweetFormError(msg, display){
        var myErrorDiv = document.getElementById("tweet-create-form-error")
        if (display === true){
            //d show error
            myErrorDiv.setAttribute("class", "d-block alert alert-danger")
            myErrorDiv.innerText = msg
        } else if(msg === "Success"  && display === false){
            myErrorDiv.setAttribute("class", "d-block alert alert-success")
            myErrorDiv.innerText = msg
            setTimeout(() =>  myErrorDiv.setAttribute("class", "d-none alert alert-danger"), 3000);
        }
        else{
            // hide error
            myErrorDiv.setAttribute("class", "d-none alert alert-danger")
        }
    }

    function handleTweetCreateFormDidSubmit(event){
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        //msg.innerText = 'Succesfully Tweeted!';
        //setTimeout(() => msg.remove(), 3000);
        const xhr = new XMLHttpRequest()
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method,url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest") //In order to make django return "true" when queried request.is_ajax()
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.onload = function(){
        //console.log(xhr.response) log the response thats coming back
        if(xhr.status === 201) {
            handleTweetFormError("Success", false)
            const newTweetJson = xhr.response //response will give tweet element in json
            //const newTweetJson = JSON.parse(newTweet)
            //console.log(newTweetJson.likes)
            const newTweetElement = formatTweetElement(newTweetJson)
            const ogHtml = tweetsContainerElement.innerHTML
            tweetsContainerElement.innerHTML = newTweetElement + ogHtml
            myForm.reset() // to clear the previous tweet after successfully tweeting

        } 
        else if (xhr.status === 400){
            const errorJson = xhr.response //response will give validation error defined in forms.py
            const contentError = errorJson.content //msg saying "This tweet is too long"
            let contentErrorMsg;
            if(contentError){
                contentErrorMsg = contentError[0]
                if (contentErrorMsg){
                    handleTweetFormError(contentErrorMsg, true)
                }
            }
            else{
                alert("An Error occured")
            }
            }
        else if (xhr.status === 401){
        alert('You must login!'); // when server is source of error
        window.location.href = "/login"
        }
        else if (xhr.status === 500){
            alert('Server Error!'); // when server is source of error
        }
        }
        xhr.onerror = function(){
            alert('Error!'); // when cant reach to server
        }
        xhr.send(myFormData)
    }

    const tweetCreateFormEl = document.getElementById("tweet-create-form")

    tweetCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSubmit )

    const tweetsContainerElement = document.getElementById("tweets") //get an html element

    const loadTweets = function loadTweets(tweetsElement){
        const xhr = new XMLHttpRequest() //retrieval of data  from xhr for
        //purpose of continually modifying loaded web page underlying concept
        //of AJAX Design.
        const method = 'GET'
        const url = "/tweets"
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method,url) //open up this method with this url
        xhr.onload = function(){
            //console.log(xhr.response) //log the response thats coming back
        const serverResponse = xhr.response //it saves response provided by request(the json response it got)
        //const listedItems = serverResponse.response // it saves "response" field declared in the json file
        const listedItems = serverResponse
        var finalTweetStr = ""
        var i;
        
        for(i=0; i<listedItems.length; i++){
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetStr  += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr
        //console.log(listedItems)
    }
    
    xhr.send() //trigger the request after i send it up

    }

    loadTweets(tweetsContainerElement)

    function handleDidLike(tweet_id, currentCount){
        console.log(tweet_id, currentCount)
    }

    function LikeBtn(tweet) {
        return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" 
            + tweet.id + "," + tweet.likes + ")>" +
            tweet.likes + " Like</button>"
    }

    function formatTweetElement(tweet){
        var date = new Date(tweet.time)
        var formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 colmb-4 tweet' id='tweet-"+ 
        tweet.id + "'>" + 
            "<p><strong class='text-info'>" + tweet.id + "</strong> " + tweet.content +
            "</p><p class='text-muted'>" + date +
            "</p><div class='btn-group'>" + LikeBtn(tweet) +
             "</div></div>"
        return formattedTweet
    }
    
</script>

{% endblock content %}

